<form class="form-floating">
    <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
    <label for="floatingInputValue">Email</label>
    <input type="text" class="form-control" id="floatingUsername" placeholder="username" value="testusername">
    <label for="floatingUsername">Username</label>
    <input type="password" class="form-control" id="floatingpassword" placeholder="password" value="password">
    <label for="floatingInputValue">Password</label>
    <div class="row">
        <button type="submit" class="btn btn-success" disabled>Save</button>
        <button class="btn btn-warning" (click)="back()"> Back to profil </button>
    </div>
</form>
